{# inside that base template are located the external scripts #}
{% extends 'MarcJobTestBundle::base.html.twig' %}

{% block body %}
<div style="width: 100%; margin: 25px;">
	<div style="width: 70%; margin: 0 auto;">
		<span style="font-weight: bold; padding: 5px; border: 1px solid gray;">FOLDER DEPTH:&nbsp;
		{% for breadcrumbNode in breadcrumbData %}
			{% if breadcrumbNode.id == 'actual' %}
				{{ breadcrumbNode.name }}
			{% else %}
				<a href="{{ path('marc_job_test_folder_search', { 'folderId': breadcrumbNode.id }) }}">{{ breadcrumbNode.name }}</a>&nbsp;>&nbsp;
			{% endif %}
		{% endfor %}
		</span>
	</div>
</div>
<div style="width: 100%;">
	<div style="width: 70%; margin: 0 auto;">
		<table id="folderContentTable" class="dataTable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th>Directory</th>
				</tr>
			</thead>
			<tbody>
			{% for folder in rootFolderContent %}
				<tr>
					<td><a href="{{ path('marc_job_test_folder_search', { 'folderId': folder.id }) }}">{{ folder.name }}</a></td>
					<td>{{ folder.creation|date("Y-m-d H:i:s") }}</td>
					<td><input type="checkbox" checked disabled></td>
				</tr>
			{% endfor %}
			{% for file in rootFilesContent %}
				<tr>
					<td>{{ file.name }}</td>
					<td>{{ file.creation|date("Y-m-d H:i:s") }}</td>
					<td><input type="checkbox" disabled></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{# in a 'job case' scenario that js code will be minimized and compressed, inside an exernal file #}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#folderContentTable').dataTable({
		        "bPaginate": true,
		        "bLengthChange": true,
		        "bFilter": true,
		        "bInfo": false,
		        "bAutoWidth": false,
		    });
		});
	</script>
{% endblock %}
